#include "resource.h"

IDI_APP_ICON		ICON	"mock_icon.ico"
IDR_WAYK_BUNDLE		RCDATA	{ 0 }

STRINGTABLE
{
	IDS_WAYK_OPTION_UNATTENDED "1"
	IDS_WAYK_EXTRACTION_PATH "${TEMP}/${RANDOM_GUID}"
	IDS_WAYK_OPTION_DATA_PATH "${TEMP}/${RANDOM_GUID}/Data"
	IDS_WAYK_OPTION_SYSTEM_PATH "${TEMP}/${RANDOM_GUID}/System"
	IDS_WAYK_PRODUCT_NAME "Wayk Now"
	IDS_WAYK_OPTION_AUTO_CLEAN "1"
}


